{% extends 'base.html' %}
{% load static %}
{% block title %} 

{% endblock title %} 

{% block content  %}
<div class="ui padded segment">
<header>
  <h1>&nbsp;How to use our site for Data Analysis ? </h1>
  </header>
  <p>
    <ul>
    <li>Instruction as Follows:</li>
    <ol>
    <li>Login or Register:</li>
    <li>Upload The csv File</li><pre><strong>There format must be like This:</strong>
Product_Name,quantity,Price,Salesman,Date(YYYY-MM-D)Time</pre>
    <li>Go to Performance:</li>
    <pre>Select Chart What you want From below form and dates
and see the Performance And Analyze that graph.</pre>
    <li>Select customer:</li>
    <pre>for customer relationship between budget and employment from given graph.</pre>
    <li>Select sales:</li>
    <pre>for salesman Performance from given graph.</pre>

    <li>Add record:</li>
    <pre>Add Extra Records If you want to add</pre>

    <li>See Sumary</li>
    <pre>In that you find Minimum Value of price and maximum value
and mean and median and standard deviation.</pre>

  

    
    </ol>
    </ul>
  </p>
  
  
  </div>
{% endblock content %} 