{% extends 'base.html' %}
{% load static %}
{% block title %}

{% endblock title %}

{% block content %}
<div class="ui padded segment">
  <header>
    <h1>&nbsp;What is Data Analysis And Data Visualizations ?</h1>
  </header>

  <body clas='indented'>
    <p>
      <br>
    <strong>Data Analysis:</strong>
    <ul>
      <li>What is Data Analysis ? </li>
      <pre>Data analysis is the process of collecting, modeling, and analyzing data to extract insights 
that support decision-making. There are several methods and techniques to perform analysis 
depending on the industry and the aim of the analysis.  </pre>
      <li>Why Is Data Analysis Important?</li>
      <pre>Let’s start with customers, arguably the most crucial element in any business.By 
using data analysis to get a 360° vision of all aspects related to your customers,
you can understand which channels they use to communicate with you,their demographics, 
interests,habits,purchasing behaviors, and more.

In the long run, it will drive success to your marketing strategies,allow you to identify 
new potential customers,and avoid wasting resources on targeting the wrong people or sending 
the wrong message. You can also track customer satisfaction by analyzing your client’s reviews 
or your customer service department’s performance.</pre>
<li>How to Analyze The data ?</li>
<pre>1. Collaborate your needs
2. Establish your questions
3. Data democratization
4. Clean your data
5. Set your KPIs
6. Omit useless data
7. Build a data management roadmap
8. Integrate technology
9. Answer your questions
10. Visualize your data

<mark>Important:</mark>
In this site we uses the Data Visualizations technique.

</pre>
    </ul>
    <br>
    <strong>Data Visualizations:</strong>
    <ul>
      <li>What is Data Visualizations ? </li>
      <pre>Data viz is the communication of data in a visual 
manner, or turning raw data into insights that can 
be easily interpreted by your readers.</pre>
    </ul>

    </p>

  </body>

</div>
{% endblock content %}