{% extends 'base.html' %}
{% load static %}
{% block title %} 

{% endblock title %} 

{% block content  %}
<div class="ui padded segment">
  <header><h1>&nbsp;Graphs Provided by Our Site</h1></header>
  <body>
  <p>
  <br>
    List of Graphs as below:
    <ul>
    <li>Bar plot:</li>
    <pre>Bar plot is product vs dates where we can identified that about time in which most items are sold</pre>
    <li>Line Plot</li>
      <pre> Line plot is product vs dates where we can identified that about time in which most items are sold</pre>
    <li>Count Plot:</li>
    <pre>Where you can see the count of product that are more purchased</pre>
    <li> Customer Regression Plot </li>
    <pre>There you can find relationship between Company budget and employment Through Graph and correlation</pre>
    <li>Sales Bar Plot </li>
    <pre>There you can find salesman Performance Through Graph</pre>


    </ul>
    
  </p>
  </body>
  
  </div>
{% endblock content %} 