{% extends 'base.html' %}
{% load static %}
{% block title %} 

{% endblock title %} 

{% block content  %}
<div class="ui padded segment">
  <header><h1>&nbsp;Provided Data Analysis messures by us</h1></header>
  <body>
  <p>
  <br>
    There are give statistical messures by us is as below:
    <ul>
    <li>Minimum:</li>
   <pre>There we given the Minimum of the Total Price Of the all the product are sold</pre>
    <li>Maximum:</li>
   <pre>There we given the maximum of the Total Price Of the all the product are sold</pre>
      <li>Mean:</li>
   <pre>There we given the average of the Total Price Of the all the product are sold</pre>
    <li>Median</li>
    <pre>There we given the middle of the Total Price Of the all the product are sold</pre>
    <li>Standard Deviation:</li>
    <pre>There we given the Standard Deviation of the Total Price Of the all the product are sold</pre>
    <li>Correlation messures</li>
    <pre>There we given the Correlation between No. of employment vs budget of the company</pre>
    </ul>
    
  </p>
  </body>
  
  </div>
{% endblock content %} 