{% extends 'base.html' %}
{% load static %}
{% block title %} 

{% endblock title %} 

{% block content  %}
<div class="ui padded segment">
 <header>
    <h1>&nbsp;What are the types Graphs ?</h1>
  </header>
  <br>
<ui>
 <li>Types of Graphs is Depend upon Categories Data:</li>
 <br>
 &nbsp; &nbsp; &nbsp; &nbsp; Let’s See  some categories of Data. &nbsp; And also types Of Graphs
  <ol>
  <li>Temporal:</li>
  <pre>Data visualizations belong in the temporal category if they satisfy two conditions: 
1.they are linear and 2.they are one-dimensional.
Temporal visualizations normally feature lines that either stand alone or overlap 
with each other, with a start and finish time.</pre>

Examples of temporal data visualization include:
<ul>
<li>Scatter plots</li>
<li>Polar area diagrams</li>
<li>Time series sequences</li>
<li>Timelines</li>
<li>Line graphs</li>
</ul>

  <li>Hierarchical:</li>
  <pre>Data visualizations that belong in the hierarchical category are those that order groups 
within larger groups. Hierarchical visualizations are best suited if you’re looking to 
display clusters of information, especially if they flow from a single origin point.

The downside to these graphs is that they tend to be more complex and difficult to read, 
which is why the tree diagram is used most often. It is the simplest to follow due to its 
linear path.</pre>

Examples of hierarchical data visualizations include:
<ul>
  <li>Tree diagrams</li>
  <li>Ring charts</li>
  <li>Sunburst diagrams</li>
</ul>
    <li>MultiDimensional</li>
    <pre>Just like the name,multidimensional data visualizations have multiple dimensions.
This means that there are always 2 or more variables in the mix to create a 3D 
data visualization. Because of the many concurrent layers and datasets, these 
types of visualizations tend to be the most vibrant or eye-catching visuals.
Another plus? These visuals can break down a ton of data down to key takeaways.</pre>
Examples of multidimensional data visualizations include:
<ul>
<li>Scatter plots</li>
<li>Pie charts</li>
<li>Venn diagrams</li>
<li>Stacked bar graphs</li>
<li>Histograms</li>
</ul>
  <li>GeoSpatial</li>
  <pre>Geospatial or spatial data visualizations relate to real life physical locations, overlaying
familiar maps with different data points.These types of data visualizations are commonly used 
to display sales or acquisitions over time,and can be most recognizable for their use in 
political campaigns or to display market penetration in multinational corporations.</pre>
Examples of geospatial data visualizations include:
<ul>
 <li> Flow map</li>
 <li> Density map</li>
 <li> Cartogram</li>
  <li>Heat map</li>
</ul>
  </ol>
<li> The 17 Most Common Graph Types</li>
<ol>
<li><a href="https://www.klipfolio.com/resources/articles/what-is-data-visualization#DataViz1">Bar Chart</a></li>
<li><a href="https://www.klipfolio.com/resources/articles/what-is-data-visualization#DataViz2"L>ine Chart</a></li>
<li><a href="https://www.klipfolio.com/resources/articles/what-is-data-visualization#DataViz3">Scatterplot</a></li>
<li><a href="https://www.klipfolio.com/resources/articles/what-is-data-visualization#DataViz4">Sparkline</a></li>
<li><a href="https://www.klipfolio.com/resources/articles/what-is-data-visualization#DataViz5">Pie Chart</a></li>
<li><a href="https://www.klipfolio.com/resources/articles/what-is-data-visualization#DataViz6"> Gauge</a></li>
<li><a href="https://www.klipfolio.com/resources/articles/what-is-data-visualization#DataViz7">Waterfall Chart</a></li>
<li><a href="https://www.klipfolio.com/resources/articles/what-is-data-visualization#DataViz8">Funnel Chart</a></li>
<li><a href="https://www.klipfolio.com/resources/articles/what-is-data-visualization#DataViz9"> Heat Map</a></li>
<li><a href="https://www.klipfolio.com/resources/articles/what-is-data-visualization#DataViz10">Histogra</a></li>
<li><a href="https://www.klipfolio.com/resources/articles/what-is-data-visualization#DataViz11">Box Plot</a></li>
<li><a href="https://www.klipfolio.com/resources/articles/what-is-data-visualization#DataViz12">  Maps</a></li>
<li><a href="https://www.klipfolio.com/resources/articles/what-is-data-visualization#DataViz13"> Tables</a></li>
<li><a href="https://www.klipfolio.com/resources/articles/what-is-data-visualization#DataViz14">Indicators</a></li>
<li><a href="https://www.klipfolio.com/resources/articles/what-is-data-visualization#DataViz15">Area Chart</a></li>
<li><a href="https://www.klipfolio.com/resources/articles/what-is-data-visualization#DataViz16"> Radar or Spider Chart</a></li>
<li><a href="https://www.klipfolio.com/resources/articles/what-is-data-visualization#DataViz17">Tree Map</a></li>
</ol>
</ui>

  
  </div>
{% endblock content %} 